.video-container {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  flex-wrap: wrap; 
}

.video-text {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

.video-iframe {
  flex-basis: 40%;
}

.video-title {
  font-family: 'Optima', 'Noto Serif', 'Arial', sans-serif;
  color: #6B9080;
  font-size: 2rem;
}

.video-description {
  font-family: 'Optima', 'Noto Serif', 'Arial', sans-serif;
  color: #6B9080;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .video-text {
    text-align: left;
    margin-right: 0;
  }

  .video-iframe {
    width: 100%;
    margin-top: 20px;
  }

  .video-container {
    flex-direction: column;
  }
}
